<header>
    <a href="/products"> ⬅ Regresar</a>
    <h1>Detalles del producto</h1>

</header>
<li>
    <h3>{{product.title}}</h3>
    <p>Descripción: {{product.description}}</p>
    <p>Precio: ${{product.price}}</p>
    <p>Categoria: {{product.category}}</p>
    <p>Stock: {{product.stock}}</p>
</li>